<section class='bluesection whitetext'>
    <div class='nav'>
        <h2 class='text-uppercase lefttoppadding'>
            Christian<span class='boldthick'> Javier </span>Aromin
        </h2>
    </div>
    <div class='lefttoppadding d-flex justify-content-center flex-column h80'>
        <h1 id='mainHeading' class='text-uppercase d-flex justify-content-center flex-column'>Full-Stack JavaScript & PHP Developer
            <br><span class='margintop whiteborder'></span>
        </h1>
        <div>
            <p class='margintop'>Hello, World!</p>
            <h4>Specializing in building full-stack websites with desire to move into mobile with React and eventually Apple Swift.</h4>
        </div>
    </div>
</section>
<section class='whitesection d-flex align-items-start'>
    <div class='leftColumnInfo lefttoppadding'> 
        <h1 class='blueSubHeading text-uppercase'>About</h1>
        <div class='margintop blueborder'></div>
        <img src='images/about-icon.png' alt='aboutImg' class='margintop'>
    </div>
    <div class='rightColumnInfo lefttoppadding'>
        <h1 class='graySubHeading'>Christian Javier Aromin</h1>
        <div class='width75p graytext'>
            <br>
            <p>
                Originally a San Francisco Native, I moved to Jacksonville, FL in 2005.
                I graduated University of North Florida in 2015
                with a bachelors in Criminal Justice and Psychology.
                I am a graduate of the University of Central Florida&rsquo;s Fall Bootcamp 2017
                with a focus on full-stack javascript development.
            </p>
            <p>
                I am currently seeking employment in a full-stack environment with a preference in backend languages.
            </p>
        </div>
    </div>
</section>
<section class='bluesection whitetext d-flex align-items-start'>
    <div class='leftColumnInfo lefttoppadding'> 
        <h1 class='whiteSubHeading text-uppercase'>Experience</h1>
        <div class='margintop whiteborder'></div>
        <img src='images/exp-icon.png' alt='aboutImg' class='margintop'>
    </div>
    <div class='rightColumnInfo lefttoppadding'>
        <div class='width75p'>
            <div class='box slide-right'>
                <div class='d-flex justify-content-start'>
                    <h3>Qooqee</h3>
                    <a class='leftpadding d-flex justify-content-center flex-column' href='https://www.qooqee.com/'
                    target="_blank">
                        <img src='images/link.svg' alt='link'>
                    </a>
                </div>
                <small>June 2018 - August 2018</small>
                <h5 class='margintop'>Web Design Intern</h5>
            </div>
            <div class='box slide-right'>
                <div class='d-flex justify-content-start'>
                    <h3>UCF Full-Stack Bootcamp</h3>
                    <a class='leftpadding d-flex justify-content-center flex-column' href='https://bootcamp.ce.ucf.edu/coding/'
                    target="_blank">
                        <img src='images/link.svg' alt='link'>
                    </a>
                </div>
                <small>June 2017 - Dec 2017</small>
                <h5 class='margintop'>Student</h5>
            </div>
        </div>
    </div>
</section>
<section class='whitesection d-flex align-items-start'>
    <div class='leftColumnInfo lefttoppadding'> 
        <h1 class='blueSubHeading text-uppercase'>Skillset</h1>
        <div class='margintop blueborder'></div>
        <img src='images/skill-icon.png' alt='aboutImg' class='margintop'>
    </div>
    <div class='rightColumnInfo lefttoppadding'>
        <div class='width75p d-flex align-items-start'>
            <div class='width50p marginright' >
                <div class='marginbottom slide-up'>
                    <p class='bluetextbold text-uppercase'>HTML</p>
                    <div class='progressBarContainer'>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='marginbottom slide-up'>
                    <p class='bluetextbold text-uppercase'>JavaScript/jQuery</p>
                    <div class='progressBarContainer'>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='marginbottom slide-up'>
                    <p class='bluetextbold text-uppercase'>PHP</p>
                    <div class='progressBarContainer'>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='marginbottom slide-up'>
                    <p class='bluetextbold text-uppercase'>Node</p>
                    <div class='progressBarContainer'>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='width50p marginright'>
                <div class='marginbottom slide-up'>
                    <p class='bluetextbold text-uppercase'>CSS3</p>
                    <div class='progressBarContainer'>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='marginbottom slide-up'>
                    <p class='bluetextbold text-uppercase'>React/React Native</p>
                    <div class='progressBarContainer'>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='marginbottom slide-up'>
                    <p class='bluetextbold text-uppercase'>MySQL</p>
                    <div class='progressBarContainer'>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class='marginbottom slide-up'>
                    <p class='bluetextbold text-uppercase'>MongoDB</p>
                    <div class='progressBarContainer'>
                        <div class="progress">
                            <div class="progress-bar-animated progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class='bluesection whitetext d-flex align-items-start'>
    <div class='leftColumnInfo lefttoppadding'> 
        <h1 class='whiteSubHeading text-uppercase'>Education</h1>
        <div class='margintop whiteborder'></div>
        <img src='images/education-icon.png' alt='aboutImg' class='margintop'>
    </div>
    <div class='rightColumnInfo lefttoppadding'>
        <div class='width75p'>
            <div class='marginbottom slide-right'>
                <small>June 2017 - Dec 2017</small>
                <div>
                <h3>UCF Full-Stack Bootcamp</h3>
                </div>
                <h5 class='margintop'>Unversity of Central Florida, FL</h5>
                <hr>
            </div>
            <div class='marginbottom slide-right'>
                <small>August 2010  - Dec 2015</small>
                <div>
                <h3>Dual Bachlors: Criminal Justice & Psychology</h3>
                </div>
                <h5 class='margintop'>Unversity of North Florida, FL</h5>
                <hr>
            </div>
        </div>
    </div>
</section>
<section class='whitesection d-flex align-items-start'>
    <div class='leftColumnInfo lefttoppadding'> 
        <h1 class='blueSubHeading text-uppercase'>My Works</h1>
        <div class='margintop blueborder'></div>
        <img src='images/computer.png' alt='aboutImg' class='margintop'>
    </div>
    <div class='rightColumnInfo lefttoppadding'>
        <div>
            <div class='d-flex flex-wrap'>
                <div class='marginbottom d-flex align-items-start flex-column'>
                    <div id='project1' class='projects'>
                        <a class='fullcover' href='https://deliverytrackerv1.herokuapp.com/' target="_blank"></a>
                    </div>
                    <div class='marginbottom margintop'>
                        <a class='blacktextbold' href='https://deliverytrackerv1.herokuapp.com/' target="_blank">TrackerWorldMap</a>
                    </div>
                    <div class='width75p d-flex flex-wrap'>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            HTML5
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            CSS3
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            Firebase
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            Node
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            JavaScript
                        </div>                        
                    </div>
                </div>
                <div class='marginbottom d-flex align-items-start flex-column'>
                    <div id='project2' class='projects'>
                        <a class='fullcover' href='https://cheerioscrapper-aromin.herokuapp.com/' target="_blank"></a>
                    </div>
                    <div class='marginbottom margintop'>
                        <a class='blacktextbold' href='https://cheerioscrapper-aromin.herokuapp.com/' target="_blank">TrackerWorldMap</a>
                    </div>
                    <div class='width75p d-flex flex-wrap'>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            HTML5
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            CSS3
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            MongoDB
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            Node
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            JavaScript
                        </div>                        
                    </div>
                </div>
                <div class='marginbottom d-flex align-items-start flex-column'>
                    <div id='project3' class='projects'>
                        <a class='fullcover' href='https://chauffeurusgroupprojectv2.herokuapp.com/' target="_blank"></a>
                    </div>
                    <div class='marginbottom margintop'>
                        <a class='blacktextbold' href='https://chauffeurusgroupprojectv2.herokuapp.com/' target="_blank">ChauffeurUS</a>
                    </div>
                    <div class='width75p d-flex flex-wrap'>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            HTML5
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            CSS3
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            MongoDB
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            Node
                        </div>
                        <div class='d-flex align-items-center blacktextborder justify-content-center'>
                            JavaScript
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class='bluesection whitetext d-flex align-items-start'>
    <div class='leftColumnInfo lefttoppadding'> 
        <h1 class='whiteSubHeading text-uppercase'>Contact</h1>
        <div class='margintop whiteborder'></div>
        <img src='images/mail-icon.png' alt='aboutImg' class='margintop'>
    </div>
    <div class='rightColumnInfo lefttoppadding'>
        <div class='width75p'>
            <h4>CarominUCF@gmail.com</h4>
        </div>
        <div class='margintop marginbottom d-flex flex-wrap'>
            <a href='https://github.com/Caromin' target='_blank'><img class='circlelogo fullcover' src='images/octocat.png' alt='github' class='margintop'></a>
            <a href='https://www.linkedin.com/in/caromin/' target='_blank'><img class='circlelogo fullcover' src='images/LinkedIn.png' alt='github' class='margintop'></a>
        </div>
    </div>
</section>