<section class='bluesection whitetext'>
    <div class='nav'>
        <h2 class='text-uppercase lefttoppadding'>
            Christian<span class='boldthick'> Javier </span>Aromin
        </h2>
    </div>
    <div class='lefttoppadding d-flex justify-content-center flex-column h80'>
        <h1 id='mainHeading' class='text-uppercase d-flex justify-content-center flex-column'>Full-Stack JavaScript & PHP Developer
            <br><span class='margintop whiteborder'></span>
        </h1>
        <div>
            <p class='margintop'>Hello, World!</p>
            <h4>Specializing in building website and mobile apps with a focus on React and touch of PHP.</h4>
        </div>
    </div>
</section>
<section class='whitesection d-flex align-items-start'>
    <div class='leftColumnInfo lefttoppadding'> 
        <h1 class='blueSubHeading'>About</h1>
        <div class='margintop blueborder'></div>
        <img src='images/about-icon.png' alt='aboutImg' class='margintop'>
    </div>
    <div class='rightColumnInfo lefttoppadding'>
        <h1 class='graySubHeading'>Christian Javier Aromin</h1>
        <div class='width75p graytext'>
            <br>
            <p>
                Originally a San Francisco Native, I moved to Jacksonville, FL in 2005.
                I graduated University of North Florida in 2015
                with a bachelors in Criminal Justice and Psychology.
                I am a graduate of the University of Central Florida&rsquo;s Fall Bootcamp 2017
                with a focus on full-stack javascript development.
            </p>
            <p>
                I am currently seeking employment in JavaScript development
                and I am currently dabbling in React/React Native.
            </p>
        </div>
    </div>
</section>
<section class='bluesection whitetext d-flex align-items-start'>
    <div class='leftColumnInfo lefttoppadding'> 
        <h1 class='whiteSubHeading'>Experience</h1>
        <div class='margintop whiteborder'></div>
        <img src='images/education-icon.png' alt='aboutImg' class='margintop'>
    </div>
    <div class='rightColumnInfo lefttoppadding'>
        <div class='width75p'>
            <div class='box'>
                <div class='d-flex justify-content-start'>
                    <h3>Qooqee</h3>
                    <a class='leftpadding d-flex justify-content-center flex-column' href='https://www.qooqee.com/'
                    target="_blank">
                        <img src='images/link.svg' alt='link'>
                    </a>
                </div>
                <small>June 2018 - August 2018</small>
                <h5 class='margintop'>Web Design Intern</h5>
            </div>
            <div class='box'>
                <div class='d-flex justify-content-start'>
                    <h3>UCF Full-Stack Bootcamp</h3>
                    <a class='leftpadding d-flex justify-content-center flex-column' href='https://bootcamp.ce.ucf.edu/coding/'
                    target="_blank">
                        <img src='images/link.svg' alt='link'>
                    </a>
                </div>
                <small>June 2017 - Dec 2017</small>
                <h5 class='margintop'>Student</h5>
            </div>
        </div>
    </div>
</section>