body {
    font-weight: 300;
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

.h80 {
    min-height: 400px;
    height: 100%;
}

.fullcover {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.rightColumnInfo {
    height: 100%;
    width: 75%;
}

.width50p {
    width: 50%;
}

.width75p {
    width: 75%;
}

.lefttoppadding {
    padding-left: 100px;
    padding-top: 25px;
}

.leftpadding {
    padding-left: 20px;
}

.margintop {
    margin-top: 20px;
}

.marginbottom {
    margin-bottom: 20px;
}

.marginright {
    margin-right: 20px;
}

.whitetext {
    color: #FFF;
}

.graytext {
    color: gray;
}

.boldthick {
    font-weight: 800;
}

.bluetextbold {
    color: #3295be;
    font-weight: 500;
}

.blacktextbold {
    color: black;
    font-weight: 500;
}

.blueSubHeading {
    font-size: 2em;
    color: #3295be;
}

.graySubHeading {
    font-size: 2em;
    color: gray;
}

.whiteSubHeading {
    font-size: 2em;
    color: white;
}

.blueborder {
    height: 5px;
    width: 75px;
    background: #3295be;
}

.whiteborder {
    height: 5px;
    width: 75px;
    background: #FFF;
}

.graytextborder {
    color: gray;
    height: 25px;
    padding: 15px 5px;
    margin: 0 5px 5px 0;
    border: 1px solid gray;
    border-radius: 5px;
}

.leftColumnInfo {
    height: 100%;
    width: 25%;
}

.bluesection {
    padding: 50px 0;
    width: 100%;
    min-height: 400px;
    background: #3295be;
    background: linear-gradient(to bottom, rgb(30, 103, 139) 0%, #92e2ff 100%);
}

.whitesection {
    padding: 50px 0;
    width: 100%;
    min-height: 400px;
    background: #FFF;
}

.box {
    min-height: 50px;
    padding: 15px;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 25px;
    margin-bottom: 25px;
}

.circlelogo {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 20px;
}

.projects {
    height: 300px;
    width: 300px;
    border-radius: 25px;
    margin-right: 20px;
}

#mainHeading {
    font-size: 3.5em;
}

#project1 {
    background: url('../images/project1.png') no-repeat center;
    background-size: cover;
}

#project2 {
    background: url('../images/project2.png') no-repeat center;
    background-size: cover;
}

@media screen and (max-width: 1053px) {
    .projects {
        height: 350px;
        width: 600px;
    }

    .rightColumnInfo {
        width: 90%;
    }
    
    .width75p {
        width: 90%;
    }
}

@media screen and (max-width: 1920px) and (min-width: 1680px) {
    .projects {
        height: 300px;
        width: 450px;
    }
}
